
ProjetoPratica/.vs/ProjetoPratica/v15/Server/sqlite3/storage.ide-shm
ProjetoPratica/.vs/ProjetoPratica/v15/Server/sqlite3/storage.ide-shm
ProjetoPratica/.vs/ProjetoPratica/v15/Server/sqlite3/storage.ide-wal
ProjetoPratica/.vs/ProjetoPratica/v15/Server/sqlite3/storage.ide-shm
